*/.idea*
.DS_Store
*.pyc

Exercise2/MonteCarlo.sh
Exercise2/QLearningAgent.sh
Exercise2/SARSAAgent.sh
Exercise2/initCoordinates.txt
Exercise2/log/*
Exercise2/unit_test.py
Exercise2/README.md
Exercise2/ExampleUnitTest.py
Exercise2/Input.csv
Exercise2/Output.csv